  @charset "utf-8";

  $vendors: webkit moz ms o; // css3前缀;
  $prefixWebkit: true !default;   // 谷歌前缀: webkit前缀
  $prefixMozilla: true !default;   // 火狐前缀: moz前缀
  $prefixMicrosoft: true !default;   // IE前缀: ms前缀
  $prefixOpera: true !default;   // opera前缀: o前缀

  // 单位;
  $global-unit: px;
  // 移动端默认单位大小;
  $designWidth: 750;

  // colors
  $h1Color: #303133;
  $h2Color: #606266;
  $h3Color: #909399;
  $h4Color: #c0c4cc;

  $themeColor: #ff7678;
  $linkBlue: #5581C7;
  $green: #22d7a0;
  $purple: #948bea;

  $lineColor: #f6f6f6;
  $backColor: #f6f6f6;

  // fonts
  $h1Font: 22px;
  $h2Font: 17px;
  $h3Font: 15px;
  $h4Font: 13px;

  // weight
  $h1Weight: 500;

  // sizes

  // padding

  // borderRadius
