$left-right: 37px;
$up-down: 30px;

// 模态框
.v-modal {
  opacity: 0.6;
}

// 自定义dialog
.custom-dialog {
  .el-dialog__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .el-dialog {
      min-width: 700px;
      margin: 0 auto !important;
      .el-dialog__header {
        .el-dialog__headerbtn {
          top: 25px; right: -50px;
          .el-dialog__close {
            font-size: 24px;
            color: #fff;
          }
        }
      }
      .el-dialog__body {
        padding: 0;
        .el-form-item {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          &.is-error .el-form-item__content{
            input, textarea {
              border-color: #f56c6c;
            }
          }
          &.is-success .el-form-item__content{
            input, textarea {
              border-color: #67c23a;
            }
          }
          .el-form-item__content {
            display: flex;
            width: 100%;
            line-height: normal;
          }
        }
      }
      .el-dialog__footer {
        padding: 20px $left-right;
      }
    }
  }
}

// 按钮控件
.el-button {
  &.cancel {
    width: 90px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 20px;
    font-size: $h2Font;
    font-weight: $h1Weight;
    line-height: 40px;
    color: #fff;
    border:1px solid $themeColor;
    color: $themeColor;
    background-color: #fff;
  }
  &.confirm {
    width: 90px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 20px;
    font-size: $h2Font;
    font-weight: $h1Weight;
    line-height: 40px;
    color: #fff;
    color: #fff;
    background: linear-gradient(142deg,rgba(251,136,81,1) 0%,rgba(226,82,108,1) 100%);
  }
  &.add {
    box-sizing: border-box;
    width: 82px;
    height: 36px;
    padding: 0;
    border: none;
    border-radius: 20px;
    font-size: $h2Font;
    font-weight: $h1Weight;
    line-height: 36px;
    color: $linkBlue;
    border:1px solid $linkBlue;
    background-color: #fff;
  }
}

#__lpform_input_idx_0, #__lpform_input_idx_1 {
  display: none;
}
